/* Admin.css */

.botoes-admin {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumenta a separação entre os botões */
    margin-top: 120px; /* Aumenta o espaçamento abaixo do Header */
    position: absolute;
    width: 100%;
    top: 120px; /* Ajusta a posição dos botões mais para baixo */
    left: 50%;
    transform: translateX(-50%);
}

.admin-button {
    background-color: rgb(101, 20, 15);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px; /* Bordas redondas */
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: rgb(121, 30, 25);
}

.admin-content {
    margin-top: 200px; /* Ajuste conforme necessário para espaçamento abaixo dos botões */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilos específicos para a lista de utilizadores */
.lista-utilizadores {
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-utilizadores ul {
    list-style-type: none;
    padding: 0;
}

.lista-utilizadores li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.lista-utilizadores li:last-child {
    border-bottom: none;
}

.lista-utilizadores li:hover {
    background-color: #f1f1f1;
}

.lista-produtos {
    margin-top: 10px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-produtos ul {
    list-style-type: none;
    padding: 0;
}

.lista-produtos li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.lista-produtos li:last-child {
    border-bottom: none;
}

.lista-produtos li:hover {
    background-color: #f1f1f1;
}
