.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__left > a {
    text-decoration: none;
}
.header__left > a > img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 40px;
}

.header__left > a > h2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.header__center {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__lists {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__lists > button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    border: 2px solid black;
}

.header__lists > li > a {
    text-decoration: none;
    color: white;
}

.header__centerMenu {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.header__centerMenu > button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.dropDown__header {
    border-radius: 10px;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20px;
    min-height: 120px;
    float: left;
    background-color: white;
}

.header__centerMenu > button:hover {
    color: rgb(121, 30, 25);
}

.dropDown__header > a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.dropDown__header > a:hover {
    border-radius: 10px;
    background-color: rgb(101, 20, 15);
    color: white;
}
.header__centerMenu:hover > .dropDown__header {
    display: block;
}

.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__right > #Login {
    padding: 10px;
    margin: 0 10px;
    background-color: transparent;
    color: white;
    border-color: white;
}
a.noUnderline {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.noUnderline:hover {
    color: rgb(121, 30, 25);
}

#CarrinhoCompras {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0 10px; /* Optional: adjust margin as needed */
    cursor: pointer; /* Change cursor to pointer */
    color: white;
}

#Perfil {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0 10px; /* Optional: adjust margin as needed */
    color: white;
}

.carrinho-dropdown {
    position: absolute;
    top: calc(100% + 10px); /* Posiciona o dropdown abaixo do botão do carrinho */
    margin-left: -80px; /* Ajusta a posição horizontalmente */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px; /* Adiciona bordas redondas */
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute; /* Posiciona em relação ao documento inteiro */
}

.carrinho-dropdown::after {
    content: "";
    position: absolute;
    top: -10px; /* Posiciona a ponta acima do dropdown */
    left: 50%; /* Alinha a ponta com o centro horizontal do dropdown */
    transform: translateX(-50%); /* Centraliza horizontalmente a ponta */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px 8px; /* Tamanho e forma da ponta */
    border-color: transparent transparent white transparent; /* Cor da ponta */
}

div.carrinho-dropdown button#FinalizaCompra {
    background-color: (101, 20, 15);
    margin-top: 10px;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

div.carrinho-dropdown button#FinalizaCompra:hover {
    background-color: rgb(121, 30, 25);
}

.header button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    font-weight: bold;
}
