.carousel-container{
    margin-top: 330px;
}

.carousel-container h3{
   font-size: 24px;
}

.carousel-button{
    background-color: rgb(101, 20, 15);
    border-radius: 10px;
    color:white;
}

.carousel-button:hover{
    background-color: rgb(200, 115, 111);
}